PORT=8080
POSTGRES_PASSWORD=local-demo-db-password
MODEL_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
MODEL_NAME=qwen-plus
MODEL_API_KEY=
COOKIE_SECURE=false
DEMO_PASSWORD_1=InterviewDemo123!
DEMO_PASSWORD_2=InterviewDemo456!
